notes
.lsp-session-v1
auto-save-list
custom.el
*~
eln-cache
elpa
eshell
history
org
places
flycheck_init.el
projects
recentf
transient/*
.cache
url/
tree-sitter/
ielm-history.eld
tramp
local.el
external-modes/*
multisession
sql-history
bookmarks
saves